.profile-tab {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 320px) {
    .profile-tab {
        gap: 14px;
    }
} 

@media screen and (max-width: 768px) {
    .profile-tab_logged {
        display: none;
    }
} 

.profile-tab__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 320px) {
    .profile-tab__link {
        font-size: 10px;
        line-height: 16px;
    }
}  


.profile-tab__link_signup {
    color: #fff;
}

.profile-tab__link_signin {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: #2BE080;
    color: #000;
}

@media screen and (max-width: 320px) {
    .profile-tab__link_signin {
        width: 54px;
        height: 26px;
    }
}  

.profile-tab__link_account {
    display: flex;
    justify-content: flex-end;
    height: 32px;
    min-width: 100px;
    border-radius: 40px;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    color: #000;
}

.profile-tab__username {
    font-size: 13px;
    line-height: 12px;
    margin: 0;
    padding-left: 11px;
}

.profile-tab__icon {
    margin: 3px 3px 3px 7px;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-color: #F9F9F9;
    background-image: url(../../images/icon_account.svg);
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
}
