.content {
    padding: 0 70px;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0 50px;
    }
} 

@media screen and (max-width: 425px) {
    .content {
        padding: 0 18px;
    }
} 

