.navigation {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
} 

.navigation_hidden {
    display: none;
}

.navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

@media screen and (max-width: 320px) {
    .navigation__link {
        font-size: 10px;
        line-height: 16px;
    }
}  

.navigation__link_active {
    font-weight: 500;
}
