.search-form {
    display: flex;
    gap: 41px;
}

.search-form__input-wrap {
    position: relative;
    flex: 1;
}

.search-form__input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: solid 1px #000;
    border-radius: 50px;
    padding: 15px 22px;
    font-size: 14px;
    outline: none;
}

.search-form__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 7px auto auto;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #3456F3;
    border: none;
}

.search-form__short-movies {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 13px;
}

.search-form__short-movies-switch {
    position: relative;
    appearance: none;
    outline: none;
    width: 36px;
    height: 20px;
    background-color: #EBEBEB;
    border-radius: 50px;
    transition-duration: 200ms;
}

.search-form__short-movies-switch::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #F5F5F5;
    border-radius: 50%;
    margin: auto;
}

.search-form__short-movies-switch:checked {
    background-color: #2BE080;
}

.search-form__short-movies-switch:checked::after {
    left: initial;
    right: 2px;
    background-color: #fff;
}

@media screen and (max-width: 1280px) {
    .search-form {
        flex-direction: column;
        align-items: center;
    }

    .search-form__input-wrap {
        width: 100%;
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 768px) {
    .search-form__input-wrap {
        margin-bottom: 45px;
    }

    .search-form__input {
        font-size: 11px;
    }

    .search-form__short-movies {
        font-size: 11px;
    }
}
