.footer {
    padding: 79px 70px 20px;
    background-color: #fff;
    font-size: 13px;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 79px 30px 20px;
    }
} 

@media screen and (max-width: 425px) {
    .footer {
        padding: 79px 10px 20px;
        font-size: 12px;
        line-height: 15px;
    }
} 

.footer_colored {
    background-color: #FAFAFA;
}

.footer__title {
    margin: 0;
    color: #A0A0A0;
    text-align: center;
}

.footer__divider {
    margin-top: 20px;
    height: 1px;
    background-color: #E8E8E8;
}

.footer__wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .footer__wrapper {
        padding-top: 30px;
        flex-direction: column-reverse;
        gap: 30px
    }
} 

.footer__copyright {
    margin: 0;
    color: #000;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        color: #A0A0A0;
    }
} 

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style: none;
}

@media screen and (max-width: 425px) {
    .footer__links {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
} 

.footer__link:hover {
    opacity: 0.7;
}

.footer__link_text {
    text-decoration: none;
    color: #000;
}